* {
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	margin:0;
	font-family: "Quicksand", sans-serif;
}

#outputContainer {
	display: flex;
	height: 75vh;
}

#outputContainer div {
	flex: 1;
}

.box {
	transition: all 1s;
}

#box1 {
	background-color: #d4d4d4;
}

#box2 {
	background-color: #b4b4b4;
}

#box3 {
	background-color: #909090;
}

#box4 {
	background-color: #636363;
}

#main {
	margin-top: 2em;
	margin-bottom:1em;
	margin-left:1.6em;
}

#myInput {
	margin-left:2em;
	margin-right:1em;
}

#textOutputContainer {
	margin-left:1.6em;
	margin-top:1em;
}

#outputText {
	margin-top:1em;
	transition:transform 1s ease, font-size .5s ease;
}